HPC_Implementation/KAN_Evaluation/Data/*
HPC_Implementation/KAN_Implementation/Data/*
research_plots/*
*.json
*.png
*.txt
Perturbation_Experiment/Data/*
Perturbation_Experiment/BHLHE40/*
Perturbation_Experiment/CREB1/*
Perturbation_Experiment/DDIT3/*
Perturbation_Experiment/KAN_BHLHE40_Perturbed/*
Perturbation_Experiment/KAN_DDIT3_Perturbed/*
Perturbation_Experiment/KAN_ZNF326_Perturbed/*
Perturbation_Experiment/ZNF326/*
Perturbation_Experiment/KAN_CREB1_Perturbed/*
*.csv
Symbolic Formula-Whole Network/Ctrl_Only Unperturbed After Training/*
Symbolic Formula-Whole Network/kan_models/*
Symbolic Formula-Whole Network/KAN_Project/*
Symbolic Formula-Whole Network/SC1139_Symbolic/*
*.zip
*.txt
